body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    background-color: #eaeaea;
}
header, main, footer {
    padding-left: 350px;
  }

  @media only screen and (max-width : 992px) {
    header, main, footer {
      padding-left: 0;
    }
  }
.text-center {
      text-align: center;
}
.text-end {
    text-align: end;
}
.text-bold {
    font-weight: bold;
}
.logo-nav {
    padding-top: 25px !important;
    padding: 25px;
}
.nav-link {
    padding: 0 25px;
}
.nav-link a.active {
    background-color: #c32056;
    color: white;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}
.nav-link a:hover {
    transition: .5s;
    background-color: #c32056 !important;
    color: white !important;
}
.nav-link a:hover i {
    transition: .5s;
    color: white !important;
}
main .title{
    font-size: 18px;
    margin: 30px 0;
}
.card-footer {
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 15px !important;
}
.card-footer a, .card-footer i {
    font-size: 13px;
    margin-right: 5px;
}
.img-1 object {
    position: relative;
    top: -38px;
    font-size: 45px;
    padding: 15px;
}
.sect-1 .card-content {
    display: flex;
    justify-content: space-between;
}
.texts p.title-space {
    font-size: 13px;
}
.texts p.descr {
    margin-top: 0;
    font-size: 19px;
    font-weight: 500;
}
.sect-1 .card .card-content {
    padding-bottom: 0 !important;
}
.adminpanel .card {
    background-color: #f6f6f6;
}
.title-block {
    margin-left: 15px;
    display: flex;
    align-items: center;
}

.title-block p {
    margin-left: 10px;
}
.title-block i {
    font-weight: bold;
}